workingTime = "8-21"
startDate = "2023-01-01"
endDate = "2023-12-31"
freeDays = "SATURDAY,SUNDAY"
holidays = "01.01,01.07,04.20,05.01,05.25,08.15,11.01,11.11,12.25,12.26"
rooms = "RAF1-30,RAF2-30,RAF3-40"
equipment = "RAF1-PC-30,RAF1-PROJECTOR-1,RAF1-BOARD-1,RAF2-PC-30,RAF2-PROJECTOR-1,RAF2-BOARD-1,RAF3-PC-40,RAF3-BOARD-2"
roomData = ""
csvHeader = "ON"
columns = "START_DATE,END_DATE,TYPE,NAME"